:root {
  --text-color: #ede7e0;
  --accent-color: #ff3366;
  --font-family: ;
}

.text-color {
  color: var(--text-color) !important;
}

.accent-color:hover {
  color: var(--accent-color) !important;
}

body {
  background-color: black;
  color: var(--text-color);
}

.container {
  display: block;
  margin: 0 auto;
  width: 750px;
  font-family: "Oxygen", sans-serif;
}

/* homepage */

.hero h1,
.hero h2 {
  margin: 0;
  text-align: left;
}

.hero-heading {
  font-size: 56px;
}

.hero-img {
  width: 100px;
}

/* .section-heading {
  color: var(--accent-color);
} */

.app-heading {
  margin: 5px 0 2px;
}

.btn {
  background-color: black;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  padding: 6px 10px;
  transition: all 150ms ease-in-out;
}

.btn:hover {
  background-color: var(--text-color);
  border: 1px solid var(--text-color);
  color: black;
}

.portfolio img {
  border-radius: 10px;
}

.portfolio .btn {
  font-size: 12px;
  padding: 2px 8px;
}
