:root {
  --text-color: #ede7e0;
  --accent-color: #ff3366;
}

.text-color {
  color: var(--text-color) !important;
}

.accent-color:hover {
  color: var(--accent-color) !important;
}

body {
  background-color: black;
  color: var(--text-color);
}

.container {
  display: block;
  margin: 0 auto;
  width: 750px;
  font-family: "Oxygen", sans-serif;
}

/* .hero {
  padding: 0px 60px;
} */

.hero h1,
.hero h2 {
  margin: 0;
  text-align: left;
}

.hero-heading {
  font-size: 56px;
}

.hero-img {
  width: 100px;
}

a {
  color: var(--text-color);
}

a:hover {
  color: var(--accent-color);
  text-decoration: none;
}
