body {
  background-color: black;
  color: #ede7e0;
}

.container {
  display: block;
  margin: 0 auto;
  width: 750px;
  font-family: "Oxygen", sans-serif;
}

/* .hero {
  padding: 0px 60px;
} */

.hero h1,
.hero h2 {
  margin: 0;
  text-align: left;
}

.hero-heading {
  font-size: 56px;
}

.hero-img {
  width: 100px;
}

a {
  color: #ff3366;
  text-decoration: none;
}

a:hover {
  color: #ff3366;
  text-decoration: underline;
}
